body {
    font: 13px/20px haas,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 13px;
    line-height: 20px;
    font-family: haas, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0 auto;
	padding: 0 16px;
	max-width: 1200px;
		width: calc(100% - 36px);
}

header {
    background: #212121;
	box-shadow: 0 2px 24px 0 rgba(0,0,0,0.48);
	color: #FFFFFF;
	display: block;
	height: 72px;
	margin: 0px;
	padding: 10px;
}

h1 {
	margin: 30px;
	margin-top: 20px;
	display: block;
	font-weight: normal;
}

#buttons {
	align-items: center;
	display: block;
	padding: 10px;
}
